@imgPath: 'img/';
@background: #EDEDF7;
@font: #434346;

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.clock{
	float: left;
	margin: 0 0 0 40%;
	width: 30%;
	height: 10%;
	img{
		float: left;
		height: 50%;
		width: 50%;
	}
}
.rightArrow, .leftArrow{
	width: 3%;
	height: 3%;
	margin: 20% 0 0 0;
	padding: 0;
	cursor: pointer;
}
.leftArrow{
	float: left;
}
.rightArrow{
	float: right;
}
#gear{
    animation-name: ckw 15s;
    -webkit-animation: ckw 15s;
    animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite; /*Safari and Chrome*/
    transform-origin: 10% 100%;
    -ms-transform-origin:10% 100%; /* IE 9 */
	-webkit-transform-origin:10% 100%; /* Safari and Chrome */
    display: inline-block;
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari and Chrome */
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
		-webkit-transform: rotate(360deg); /* Safari and Chrome */
    }
}