/*Global variable*/
@imgPath: 'img/';
@background: #EDEDF7;
@font: #434346;
@sizeClock: 7em;
@rotateDuration: 5s;
@rotateAngleStart: 0deg;
@rotateAngleEnd: 360deg;

@sizeNextPreviousArrow: 4em;
@changeColorArrowsDuration: 1s;
@arrowOriginCOlor:#BFBFC4;
@arrowDestColor:#4E4E50;

@dataColor: #0E0831;
@dataBorder: #F0F0F0;
@font-face
{
	font-family: SansitaOne;
	src: url('font/SansitaOne.ttf'),
}

body{
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*Clock*/
.clock{
	position: absolute;
	top: 5%;
	left: 47%;
	margin: 0 0 0 0;
	width: @sizeClock;
	height: @sizeClock;
    display: inline-block;
	img{
		float: left;
		height: @sizeClock;
		width: @sizeClock;
	}
}
/*Rotate animation*/
.rotate, .clock:hover{
	.genericAnimation(rotate, @rotateDuration, linear, reverse, forwards);
}
@keyframes rotate {
    100% { .rotate(@rotateAngleEnd); }
}
@-webkit-keyframes rotate {
    100% { .rotate(@rotateAngleEnd); }
}
.rotate (@radius:0px){
    transform: rotate(@radius);
    -ms-transform: rotate(@radius);
	-webkit-transform: rotate(@radius);
	-o-transform: rotate(@radius);
	-moz-transform: rotate(@radius);
}

/*Transform color animation*/
.arrows path{
	fill:@arrowOriginCOlor !important;
	transition: 1s ease-in;  
	-webkit-transition: 1s ease-in;  
	-moz-transition: 1s ease-in;  
	-ms-transition: 1s ease-in;  
	-o-transition: 1s ease-in;  
}
.arrows:hover path{
	fill: @arrowDestColor !important;
}
@keyframes transformColorArrow {
    0% { fill:@arrowOriginCOlor; }
    100% { fill:@arrowDestColor;; }
}
@-webkit-keyframes transformColorArrow {
    0% { fill:@arrowOriginCOlor; }
    100% { fill:@arrowDestColor;; }
}
/*Transform color Animation*/

/*Generic animation*/
.genericAnimation(@animation, @duration:1s, @timing:linear, @direction:normal, @fillMode:forwards){
	animation-name: @animation;
    animation-timing-function: @timing;
    animation-direction: @direction;
    animation-duration: @duration;
    animation-fill-mode: @fillMode;

	-webkit-animation-name: @animation;
    -webkit-animation-timing-function: @timing;
    -webkit-animation-direction: @direction;
    -webkit-animation-duration: @duration;
    -webkit-animation-fill-mode: @fillMode;

	-moz-animation-name: @animation;
    -moz-animation-timing-function: @timing;
    -moz-animation-direction: @direction;
    -moz-animation-duration: @duration;
    -moz-animation-fill-mode: @fillMode;

	-ms-animation-name: @animation;
    -ms-animation-timing-function: @timing;
    -ms-animation-direction: @direction;
    -ms-animation-duration: @duration;
    -ms-animation-fill-mode: @fillMode;

	-o-animation-name: @animation;
    -o-animation-timing-function: @timing;
    -o-animation-direction: @direction;
    -o-animation-duration: @duration;
    -o-animation-fill-mode: @fillMode;
}
/*End Generic animation*/

/*Left and right selection arrow*/
.rightArrow, .leftArrow{
	width: @sizeNextPreviousArrow;
	height: @sizeNextPreviousArrow;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: 40%;
	svg{
		width: @sizeNextPreviousArrow;
		height: @sizeNextPreviousArrow;
	}
}
.leftArrow{
	left: 1%;
}
.rightArrow{
	right: 1%;
}

/*Date display*/
.date{
	.day,.month,.year{
		display: inline;
		font-family: SansitaOne, Arial;
		font-size: 2em;
		margin-left: 1em;
	}
	position: absolute;
	right: 3%;
	top: 8%;
	width: auto;
}

/*Content*/
.data{
	font-family: Courier New, Arial;
	font-size: 1em;
	color: @dataColor;
	background-color: @dataBorder;
	width: 60%;
	height: auto;
	margin: 15% auto;
	margin-bottom: 0;
	box-shadow: 10px 10px 5px #888888;
	padding: 1em;
	text-align: left;
	.trending{
		width: 100%;
		height: 90%;
		border-bottom: 1 dashed white;
	}
	.all{
		width: 100%;
		display: none;
		height: auto;
	}
	.find{
		height: 4em;
		width: 4em;
		img{
			height: 4em;
			width: 4em;			
		}
		margin: 0 0 0 45%;
		cursor: pointer;
	}
	/*Title*/
	.title{
		font: SansitaOne Arial;
		font-size: 1em;
		text-decoration: underline;
		font-weight: bold;
		float: left;
		margin-top: -1em;
	}
}